
<a href="  <%= pages_batman_path %> "> <img src="<%= asset_path 'img1.jpg' %>" width="50%"></a>
<form method="">
<input name="email">
<input name="name">
<input type="submit" value="Enviar">
</form>
  
 <a href=" <%= pages_superman_path %>"> <img src="<%= asset_path 'img2.jpg' %>" width="50%"></a>
<form method="">
<input name="email">
<input name="name">
<input type="submit" value="Enviar">
<%= params %>
</form>




